<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary btn-raised" ui-sref="ach-case.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Create new ACH Case</span>
                </button>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" parametersDisplayLimit=30 parametersLabel="Fields" placeholder="Filter Cases"></nit-advanced-searchbox>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <!--<th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by=""><span>Watch Item</span></th>
                    <th jh-sort-by="assignedTo"><span>Assigned To</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalAmount"><span>Total Amount</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="beneficiary.name"><span>Beneficiary Name</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="slaDeadline"><span>SLA Deadline</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="daysOpen"><span>Days Open</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span>Opened On</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="ACHCase in vm.ACHCases | filter:filterParams track by ACHCase.id ">
                    <!--<td><a ui-sref="ach-case-detail({id:ACHCase.id})">{{ACHCase.id}}</a></td>-->
                    <td>
                        <md-checkbox class="md-warn" aria-label="Watch Item" ng-model="ACHCase.isWatched" ng-change='watch(ACHCase)'></md-checkbox>
                    </td>
                    <td>{{ACHCase.assignedTo}}</td>
                    <td>{{ACHCase.totalAmount}}</td>
                    <td>{{ACHCase.beneficiary.name}}</td>
                    <td><span ng-class="{'label': true, 'label-success': ACHCase.status == 'Open', 'label-info': ACHCase.status == 'In Progress', 'label-inverse': ACHCase.status == 'CLOSED'}">
                        {{ACHCase.status}}</span></td>
                    <td><span ng-class="{'text-danger':vm.slaPast(ACHCase.slaDeadline)}">{{ACHCase.slaDeadline | date:'mediumDate'}}</span></td>
                    <td>{{ACHCase.type}}</td>
                    <td>{{ACHCase.daysOpen}}</td>
                    <td>{{ACHCase.createdDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ui-sref="ach-case-detail({id:ACHCase.id})" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit" ui-sref="ach-case.edit({id:ACHCase.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit" ui-sref="ach-case.delete({id:ACHCase.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
