<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myACHCaseLabel">Create or edit an ACH Case</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" name="id" ng-model="vm.ACHCase.id" ng-disabled="true"/>
            </div>
            <div class="form-group col-xs-6">
                <label for="field_status">Status</label>
                <select class="form-control" name="status" ng-model="vm.ACHCase.status" id="field_status" ng-disabled="vm.ACHCase.status == 'Closed' || !isAdmin" required>
                    <option value="Open">Open</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Closed">Closed</option>
                </select>
                <div ng-show="editForm.status.$invalid">
                    <p class="help-block"
                       ng-show="editForm.status.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label>Assigned To</label>
                <select class="form-control" name="assignedTo" ng-model="vm.users" ng-options="user.login for user in vm.users track by user.id"
                        ng-disabled="vm.ACHCase.status == 'Closed' || !isAdmin">
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label  for="field_slaDeadline">SLA Deadline</label>
                <div class="input-group">
                    <input id="field_slaDeadline" type="text"  class="form-control" name="slaDeadline" uib-datepicker-popup="{{vm.dateformat}}" ng-model="vm.ACHCase.slaDeadline"
                       is-open="vm.datePickerOpenStatus.slaDeadline" ng-disabled="vm.ACHCase.status == 'Closed' || !isAdmin" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('slaDeadline')" ng-disabled="vm.ACHCase.status == 'Closed' || !isAdmin">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label  for="field_daysOpen">Days Open</label>
                <input type="number" class="form-control" name="daysOpen" id="field_daysOpen" ng-model="vm.ACHCase.daysOpen" min="0" ng-disabled="vm.ACHCase.status == 'Closed' || !isAdmin"/>
                <div ng-show="editForm.daysOpen.$invalid">
                    <p class="help-block"
                       ng-show="editForm.daysOpen.$error.min" translate-value-min="0">
                        This field should be more than 0.
                    </p>
                    <p class="help-block"
                       ng-show="editForm.daysOpen.$error.number">
                        This field should be a number.
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-6" >
                <label  for="field_createdDate">Created On</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="createdDate" id="field_createdDate" ng-model="vm.ACHCase.createdDate" uib-datepicker-popup="{{vm.datetimeformat}}"
                           is-open="vm.datePickerOpenStatus.createdDate" ng-disabled="vm.ACHCase.status == 'Closed' || !isAdmin"/>
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')" ng-disabled="vm.ACHCase.status == 'Closed' || !isAdmin">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                    </span>
                </div>
            </div>
        </div>
        <h3><strong>Case Info</strong></h3>
        <div class="row" >
            <div class="form-group col-xs-6">
                <label  for="field_type">Type</label>
                <select class="form-control" name="type" ng-model="vm.ACHCase.type" id="field_type" ng-disabled="vm.ACHCase.status == 'Closed'" required>
                    <option value="Government Reclamation">Government Reclamation</option>
                    <option value="POA">POA</option>
                    <option value="Reversal/Deletion">Reversal/Deletion</option>
                    <option value="Return">Return</option>
                    <option value="Unresolved/Dishonored Return">Unresolved/Dishonored Return</option>
                </select>
                <div ng-show="editForm.type.$invalid">
                    <p class="help-block"
                       ng-show="editForm.type.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label  for="field_subtype">Subtype</label>
                <!--Taking on technical debt in order to complete project. This should be refactored-->
                <select class="form-control" name="subtype" ng-model="vm.ACHCase.caseDetail.subtype" id="field_subtype" ng-switch on="vm.ACHCase.type" ng-disabled="vm.ACHCase.status == 'Closed'" required>
                    <option value="DNE" ng-switch-when="Government Reclamation">DNE</option>
                    <option value="CRF" ng-switch-when="Government Reclamation">CRF</option>
                    <option value="DCN" ng-switch-when="Government Reclamation">DCN</option>
                    <option value="Government Reclamation" ng-switch-when="Government Reclamation">Government Reclamation</option>
                    <option value="Treasury Referral" ng-switch-when="Government Reclamation">Treasury Referral</option>
                    <option value="Treasury Refund" ng-switch-when="Government Reclamation">Treasury Refund</option>
                </select>
                <div ng-show="editForm.subtype.$invalid">
                    <p class="help-block"
                       ng-show="editForm.subtype.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label  for="field_totalAmount">Total Amount</label>
                <input type="number" step="0.01" class="form-control" name="totalAmount" id="field_totalAmount" ng-model="vm.ACHCase.totalAmount" ng-disabled="vm.ACHCase.status == 'Closed'"/>
            </div>
            <div class="form-group col-xs-6">
                <label for="field_claimNumber">ClaimNumber</label>
                <input type="text" class="form-control" name="claimNumber" id="field_claimNumber" ng-model="vm.ACHCase.caseDetail.claimNumber" ng-disabled="vm.ACHCase.status == 'Closed'"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label  for="field_paymentTotal">Payment Total</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number" step="0.01" class="form-control" name="paymentTotal" id="field_paymentTotal" ng-model="vm.ACHCase.caseDetail.paymentTotal"
                           ng-disabled="vm.ACHCase.status == 'Closed'"/>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label  for="field_paymentCount">Payment Count</label>
                <input type="number" class="form-control" name="paymentCount" id="field_paymentCount" ng-model="vm.ACHCase.caseDetail.paymentCount" min="0" ng-disabled="vm.ACHCase.status == 'Closed'"/>
                <div ng-show="editForm.paymentCount.$invalid">
                    <p class="help-block" ng-show="editForm.paymentCount.$error.min" translate-value-min="0">
                        This field should be more than 0.
                    </p>
                    <p class="help-block" ng-show="editForm.paymentCount.$error.number">
                        This field should be a number.
                    </p>
                </div>
            </div>
        </div>
        <h3><strong>Beneficiary</strong></h3>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.ACHCase.beneficiary.name"
                       ng-disabled="vm.ACHCase.status == 'Closed'"/>
            </div>
            <div class="form-group col-xs-6">
                <label for="field_customerID">Customer ID</label>
                <input type="text" class="form-control" name="customerID" id="field_customerID"
                       ng-model="vm.ACHCase.beneficiary.customerID" ng-disabled="vm.ACHCase.status == 'Closed'"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="field_dateOfDeath">Date Of Death</label>
                <div class="input-group">
                    <input id="field_dateOfDeath" type="text" class="form-control" name="dateOfDeath" uib-datepicker-popup="{{vm.dateformat}}" ng-model="vm.ACHCase.beneficiary.dateOfDeath"
                           is-open="vm.datePickerOpenStatus.dateOfDeath" ng-disabled="vm.ACHCase.status == 'Closed'" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateOfDeath')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label for="field_ssn">SSN #</label>
                <input type="text" class="form-control" name="ssn" id="field_ssn" pattern="^((?!000|666)[0-8][0-9]{2}-?(?!00)[0-9]{2}-?(?!0000)[0-9]{4}|null|)$"
                       ng-model="vm.ACHCase.beneficiary.ssn" ng-disabled="vm.ACHCase.status == 'Closed'"/>
                <div ng-show="editForm.ssn.$invalid">
                    <p class="help-block"
                       ng-show="editForm.ssn.$error.pattern">This field should be a valid SSN #.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="field_dateCBAware">Date CB Became Aware</label>
                <div class="input-group">
                    <input id="field_dateCBAware" type="text" class="form-control" name="dateCBAware" datetime-picker="{{vm.datetimeformat}}" ng-model="vm.ACHCase.beneficiary.dateCBAware"
                           is-open="vm.datePickerOpenStatus.dateCBAware" ng-disabled="vm.ACHCase.status == 'Closed'" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCBAware')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label for="field_accountNum">Account Number</label>
                <input type="text" class="form-control" name="accountNum" id="field_accountNum" pattern="^([0-9]+|null|)$"
                       ng-model="vm.ACHCase.beneficiary.accountNum"  ng-disabled="vm.ACHCase.status == 'Closed'"/>
                <div ng-show="editForm.accountNum.$invalid">
                    <p class="help-block"
                       ng-show="editForm.accountNum.$error.pattern">
                        This field should be number.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label>Other Government Benefits?</label>&nbsp;&nbsp;
                <md-checkbox class="md-warn" aria-label="Other Gov Benefits" ng-model="vm.ACHCase.beneficiary.otherGovBenefits" ng-disabled="vm.ACHCase.status == 'Closed'"></md-checkbox>
            </div>
            <div class="form-group col-xs-6">
                <label ng-show="vm.ACHCase.beneficiary.otherGovBenefits" for="field_govBenefitsComment">Comment</label>
                <input ng-show="vm.ACHCase.beneficiary.otherGovBenefits" type="text" class="form-control" name="govBenefitsComment" id="field_govBenefitsComment"
                       ng-model="vm.ACHCase.beneficiary.govBenefitsComment" ng-disabled="vm.ACHCase.status == 'Closed'" />
            </div>
        </div>
        <h3><strong>Payments</strong></h3>
        <div class="row">
            <div ng-repeat="payment in vm.ACHCase.caseDetail.payments track by payment.id">
                <div class="form-group col-xs-6">
                    <label ng-show="payment" for="field_amount">Payment Amount</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" step="0.01" class="form-control" name="amount" id="field_amount" ng-model="payment.amount" ng-disabled="vm.ACHCase.status == 'Closed'"/>
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <label ng-show="payment" for="field_effectiveOn">Effective On</label>
                    <div ng-show="payment" class="input-group">
                        <input id="field_effectiveOn" type="text" class="form-control" name="effectiveOn" datetime-picker="{{vm.datetimeformat}}" ng-model="payment.effectiveOn"
                               is-open="vm.datePickerOpenStatus.effectiveOn" ng-disabled="vm.ACHCase.status == 'Closed'" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('effectiveOn')" ng-disabled="vm.ACHCase.status == 'Closed'">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!--TODO: Finish adding fields and fix calendar buttons and date formats-->
            <button type="button" class="btn btn-info btn-raised" ng-click="addNewPayment()" ng-disabled="vm.ACHCase.status == 'Closed'"><i class="material-icons">&#xE148;</i> Add</button>
            <button type="button" class="btn btn-danger btn-raised" ng-click="deletePayment()" ng-disabled="vm.ACHCase.status == 'Closed'"><i class="material-icons">&#xE15D;</i> Remove</button>
        </div>
        <h3><strong>Notes</strong></h3>
        <div class="row">
            <div ng-repeat="caseNote in vm.ACHCase.caseDetail.notes track by caseNote.id">
                <div class="form-group col-xs-12">
                    <label ng-show="caseNote" for="field_note">Case Note</label>
                    <textarea class="form-control" rows="3" id="field_note" name="note" ng-model="caseNote.note" ng-disabled="vm.ACHCase.status == 'Closed'"></textarea>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info btn-raised" ng-click="addNewNote()" ng-disabled="vm.ACHCase.status == 'Closed'"><i class="material-icons">&#xE148;</i> Add</button>
        <button type="button" class="btn btn-danger btn-raised" ng-click="deleteNote()" ng-disabled="vm.ACHCase.status == 'Closed'"><i class="material-icons">&#xE15D;</i> Remove</button>
        <h3><strong>Disposition</strong></h3>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="field_method">Recovery Method</label>
                <select class="form-control" name="method" ng-model="vm.ACHCase.caseDetail.recoveryInfo.method" id="field_method" ng-disabled="vm.ACHCase.status == 'Closed'"
                        ng-change="vm.setRecoveryDetail()" ng-switch on="(vm.ACHCase.caseDetail.subtype != 'Treasury Refund') && (vm.ACHCase.caseDetail.subtype != 'Treasury Referral')" required>
                    <option value="ACH Return" ng-switch-when="true">ACH Return</option>
                    <option value="Cashiers Check Mailed" ng-switch-when="true">Cashier's Check Mailed</option>
                    <option value="Mixed Method" ng-switch-when="true">Mixed Method</option>
                    <option value="Commerce Bank" ng-switch-when="false">Commerce Bank</option>
                    <option value="Customer DDA" ng-switch-when="false">Customer DDA</option>
                    <option value="Other" ng-switch-when="false">Other</option>
                    <option value="No Funds">No Funds</option>
                </select>
                <div ng-show="editForm.method.$invalid">
                    <p class="help-block"
                       ng-show="editForm.method.$error.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label ng-show="vm.ACHCase.caseDetail.recoveryInfo.detailType" for="field_detailType">{{vm.ACHCase.caseDetail.recoveryInfo.detailType}}</label>
                <input ng-show="vm.ACHCase.caseDetail.recoveryInfo.detailType" class="form-control" type="text" name="detailType" id="field_detailType"
                       ng-model="vm.ACHCase.caseDetail.recoveryInfo.detailType" />
            </div>
            <div class="form-group col-xs-6" ng-switch on="">
                <label ng-show="stringType" for="field_description">{{stringType}}</label>
                <input ng-show="stringType" class="form-control" type="text" name="detailString" id="field_description" ng-model="vm.ACHCase.caseDetail.recoveryInfo.detailString"/>
            </div>
            <div class="row">
                <div class="form-group col-xs-6 pull-right">
                    <label ng-show="stringType" for="field_mailedTo">{{stringType}}</label>
                    <input ng-show="stringType" class="form-control" type="text" name="detailString" id="field_mailedTo" ng-model="vm.ACHCase.caseDetail.recoveryInfo.detailString"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="field_completedBy">Completed By</label>
                <input type="text" class="form-control" name="completedBy" id="field_completedBy" ng-model="vm.ACHCase.completedBy" ng-disabled="vm.ACHCase.status == 'Closed'"/>
            </div>
            <div class="form-group col-xs-6">
                <label for="field_completedOn">Completed On</label>
                <div class="input-group">
                    <input id="field_completedOn" type="text" class="form-control" name="completedOn" uib-datepicker-popup="{{vm.datetimeformat}}" ng-model="vm.ACHCase.completedOn"
                           is-open="vm.datePickerOpenStatus.completedOn" ng-disabled="vm.ACHCase.status == 'Closed'"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('completedOn')" ng-disabled="vm.ACHCase.status == 'Closed'">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label>Full Recovery?</label>&nbsp;&nbsp;
                <md-checkbox class="md-warn" aria-label="Full Recovery" ng-model="vm.ACHCase.caseDetail.fullRecovery" ng-disabled="vm.ACHCase.status == 'Closed'"></md-checkbox>
            </div>
        </div>
        <h3><strong>Verification</strong></h3>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="field_verifiedBy">Verified By</label>
                <input type="text" class="form-control" name="verifiedBy" id="field_verifiedBy" ng-model="vm.ACHCase.caseDetail.verifiedBy"/>
            </div>
            <div class="form-group col-xs-6">
                <label for="field_verifiedOn">Verified On</label>
                <div class="input-group">
                    <input id="field_verifiedOn" type="text" class="form-control" name="verifiedOn" datetime-picker="{{vm.datetimeformat}}" ng-model="vm.ACHCase.caseDetail.verifiedOn"
                           is-open="vm.datePickerOpenStatus.verifiedOn" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('verifiedOn')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-raised" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary btn-raised">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
